<div class="contactus" ng-controller="ContactController">
  <div class="container">
    <div class="left-column">
      <ul class="select-list">
        <li class="select-item"><a href="#" class="active">Lorem Ipsum</a></li>
        <li class="select-item"><a href="#">Loremipsum & Dolar Sit Dum</a></li>
        <li class="select-item"><a href="#">Lorem Ipsum Dolar</a></li>
        <li class="select-item"><a href="#">Lorem Ipsu</a></li>
      </ul>
    </div>
    <div class="right-column">
      <form class="contactus-form" name="contact" ng-submit="sendForm()" novalidate>
        <div class="photo-block input-block">
          <div class="title-column">
            <span>Photo</span>  
          </div>
          <div class="input-column">
            <input type="file" id="load-photo" name="load-photo" ng-model="contactForm.photo">
            <label for="load-photo">
              <div class="photo-wrap">
                <img src="" alt="">
              </div> 
            </label>
          </div>
        </div>
        <div class="firstname-block input-block">
          <div class="title-column">
            <span>FirstName</span>
          </div>
          <div class="input-column">
            <input type="text" name="firstname" placeholder="FirstName" ng-model="contactForm.firstName" ng-class="{'has-error': contact.$submitted && contact.firstname.$pristine || contact.firstname.$error.required && !contact.firstname.$pristine}" required>
            <span class="error-message" ng-show="contact.$submitted && contact.firstname.$pristine || contact.firstname.$error.required && !contact.firstname.$pristine">Required field!</span>
          </div>
        </div>
        <div class="lastname-block input-block">
          <div class="title-column">
            <span>LastName</span>
          </div>
          <div class="input-column">
            <input type="text" placeholder="LastName" name="lastname" ng-model="contactForm.lastName" ng-class="{'has-error': contact.$submitted && contact.lastname.$pristine || contact.lastname.$error.required && !contact.lastname.$pristine}" required>
            <span class="error-message" ng-show="contact.$submitted && contact.lastname.$pristine || contact.lastname.$error.required && !contact.lastname.$pristine">Required field!</span>
          </div>
        </div>
        <div class="sit-block input-block">
          <div class="title-column">
            <span>SIT</span>
          </div>
          <div class="input-column">
            <select name="xxx" id="sit-xxx">
              <option value="" selected="selected">xxx</option>
              <option value="123">123</option>
              <option value="223">223</option>
              <option value="564">564</option>
              <option value="594">594</option>
              <option value="375">375</option>
            </select>
            <select name="xx" id="sit-xx">
              <option value="" selected="selected">xx</option>
              <option value="12">12</option>
              <option value="22">22</option>
              <option value="56">56</option>
              <option value="59">59</option>
              <option value="37">37</option>
            </select>
            <select name="xxxx" id="sit-xxxx">
              <option value="" selected="selected">xxxx</option>
              <option value="1231">1231</option>
              <option value="2232">2232</option>
              <option value="5643">5643</option>
              <option value="5944">5944</option>
              <option value="3754">3754</option>
            </select>
          </div>
        </div>
        <div class="sex-block input-block">
          <div class="title-column">
            <span>Sex</span>
          </div>
          <div class="input-column">
            <input type="radio" name="sex" value="male" id="male" ng-model="contactForm.sex">
            <label for="male">Male</label>
            <input type="radio" name="sex" value="female" id="female" ng-model="contactForm.sex">
            <label for="male">Female</label>
            <input type="radio" name="sex" value="middle" id="middle" ng-model="contactForm.sex">
            <label for="male">Middle</label>
          </div>
        </div>
        <div class="lorem-select1-block input-block">
          <div class="title-column">
            <span>Lorem Ipsum</span>
          </div>
          <div class="input-column">
            <select name="lorem-select1" id="lorem-select1" ng-model="contactForm.loremSelect1">
              <option value="1">lorem1_1</option>
              <option value="2">lorem1_2</option>
              <option value="3">lorem1_3</option>
              <option value="4">lorem1_4</option>
              <option value="5">lorem1_5</option>
            </select>
          </div>
        </div>
        <div class="lorem-select2-block input-block">
          <div class="title-column">
            <span>Lorem Ipsum</span>
          </div>
          <div class="input-column">
            <select name="lorem-select2" id="lorem-select2" ng-model="contactForm.loremSelect2">
              <option value="1">lorem2_1</option>
              <option value="2">lorem2_2</option>
              <option value="3">lorem2_3</option>
              <option value="4">lorem2_4</option>
              <option value="5">lorem2_5</option>
            </select>
          </div>
        </div>
        <div class="about-yourself-block input-block">
          <div class="title-column">
            <span>About Yourself</span>
          </div>
          <div class="input-column">
            <textarea name="aboutYourself" id="about-yourself" rows="5" placeholder="About Yourself" ng-model="contactForm.aboutYourself" ng-class="{'has-error': contact.$submitted && contact.aboutYourself.$pristine || contact.aboutYourself.$error.required && !contact.aboutYourself.$pristine}" required></textarea>
            <span class="error-message" ng-show="contact.$submitted && contact.aboutYourself.$pristine || contact.aboutYourself.$error.required && !contact.aboutYourself.$pristine">Required field!</span>
          </div>
        </div>
        <div class="nickname-block input-block">
          <div class="title-column">
            <span>Nickname</span>
          </div>
          <div class="input-column">
            <input type="text" placeholder="NickName" ng-model="contactForm.nickName">
            <button>Check</button>
          </div>
        </div>
        <div class="email-block input-block">
          <div class="title-column">
            <span>Email</span>
          </div>
          <div class="input-column">
            <input type="email" id="email" placeholder="Email" name="email" ng-model="contactForm.email" ng-class="{'has-error': contact.$submitted && contact.email.$pristine || contact.email.$error.required && !contact.email.$pristine || contact.email.$error.email && !contact.email.$pristine}" required>
            <label for="email" ng-class="{'email-accept': !contact.email.$error.email && !contact.email.$pristine}"></label>
            <div class="email-error-messages">
              <span class="error-message" ng-show="contact.$submitted && contact.email.$pristine || contact.email.$error.required && !contact.email.$pristine">Required field!</span>
              <span class="error-message" ng-show="contact.email.$error.email && !contact.email.$pristine">Enter a valid email!</span>
            </div>
            <div class="otp-block">
              <input type="text" id="otp">
              <button id="submit-otp">Submit</button>
              <button id="resend-otp">Resend OTP</button>
            </div>
          </div>
        </div>
        <div class="phone-number-block input-block">
          <div class="title-column">
            <span>Phone Number</span>
          </div>
          <div class="input-column">
            <input type="text" id="phone" placeholder="+375 XX XXXXXXX" ng-model="contactForm.phoneNumber">
            <button>Check</button>
          </div> 
        </div>
        <div class="input-block">
          <div class="title-column">
            <span>Lorem Ipsum</span>
          </div>
          <div class="input-column">
            <input type="text" placeholder="Lorem" ng-model="contactForm.loremInput1">
          </div>
        </div>
        <div class="lorem-select3-block input-block">
          <div class="title-column">
            <span>Lorem Ipsum</span>
          </div>
          <div class="input-column">
            <select name="lorem-select3" id="lorem-select3" ng-model="contactForm.loremSelect3">
              <option value="1">lorem3-1</option>
              <option value="2">lorem3-2</option>
              <option value="3">lorem3-3</option>
              <option value="4">lorem3-4</option>
              <option value="5">lorem3-5</option>
            </select>
            <span class="lorem-select-title">Lorem Ipsum</span>
            <select name="lorem-select4" id="lorem-select4" ng-model="contactForm.loremSelect4">
              <option value="1">lorem4-1</option>
              <option value="2">lorem4-2</option>
              <option value="3">lorem4-3</option>
              <option value="4">lorem4-4</option>
              <option value="5">lorem4-5</option>
            </select>
          </div>
        </div>
        <div class="lorem-select5-block input-block">
          <div class="title-column">
            <span>Lorem Ipsum</span>
          </div>
          <div class="input-column">
            <select name="lorem-select5" id="lorem-select5" ng-model="contactForm.loremSelect5">
              <option value="1">lorem5-1</option>
              <option value="2">lorem5-2</option>
              <option value="3">lorem5-3</option>
              <option value="4">lorem5-4</option>
              <option value="5">lorem5-5</option>
            </select>
            <span class="lorem-select-title">Lorem Ipsum</span>
            <select name="lorem-select6" id="lorem-select6" ng-model="contactForm.loremSelect6">
              <option value="1">lorem6-1</option>
              <option value="2">lorem6-2</option>
              <option value="3">lorem6-3</option>
              <option value="4">lorem6-4</option>
              <option value="5">lorem6-5</option>
            </select>
          </div>
        </div>
        <div class="who-is-better-block input-block">
          <div class="title-column">
            <span>Who is better?</span>
          </div>
          <div class="input-column">
            <input type="radio" name="who-is-better" id="cats" value="cats" ng-model="contactForm.catsOrDogs">
            <label for="cats">Cats</label>
            <input type="radio" name="who-is-better" id="dogs" value="dogs" ng-model="contactForm.catsOrDogs">
            <label for="dogs">Dogs</label>
          </div>
        </div>
        <div class="load-image-block input-block">
          <div class="title-column">
            <span>Load Image</span>
          </div>
          <div class="input-column">
            <input type="file" name="load-image" id="load-image" ng-model="contactForm.image">
            <label for="load-image">+ Load Image</label>
          </div>
        </div>
        <div class="input-block">
          <div class="title-column">
            <span>Lorem Ipsum</span>
          </div>
          <div class="input-column">
            <input type="text" placeholder="Lorem" ng-model="contactForm.loremInput2">
          </div>
        </div>
        <div class="input-block">
          <div class="title-column">
            <span>Lorem Ipsum</span>
          </div>
          <div class="input-column">
            <input type="text" placeholder="Lorem" ng-model="contactForm.loremInput3">
          </div>
        </div>
        <div class="input-block">
          <div class="title-column">
            <span>Lorem Ipsum</span>
          </div>
          <div class="input-column">
            <input type="text" placeholder="Lorem" ng-model="contactForm.loremInput4">
          </div>
        </div>
        <div class="input-block">
          <div class="title-column">
            <span>Lorem Ipsum</span>
          </div>
          <div class="input-column">
            <input type="text" placeholder="Lorem" ng-model="contactForm.loremInput5"> 
          </div>
        </div>
        <button type="submit" class="submit-form" ng-class="{'disabled-submit-button': contact.$invalid}">Lorem</button>
      </form>
    </div>
  </div>
</div>
