<footer ng-controller="FooterController">
  <div class="above-line-block">
    <div class="container">
      <div class="dropdown-block">
        <div class="input-field">
          <input type="text" class="dropdown-block-item" placeholder="Lorem">
        </div>
        <div class="dropdown-select" click-out="showDropdown = false">
          <div class="select dropdown-block-item" >
            <a href="" ng-click="dropdownToggle()">{{dropdownValue}}</a>
          </div>
          <ul class="options-list" ng-class="{'options-list-active': showDropdown}">
            <li class="option"><a href="" ng-click="selectOption($event)">Option1</a></li>
            <li class="option"><a href="" ng-click="selectOption($event)">Option2</a></li>
            <li class="option"><a href="" ng-click="selectOption($event)">Option3</a></li>
            <li class="option"><a href="" ng-click="selectOption($event)">Option4</a></li>
          </ul>
        </div>
        <div class="dropdown-select">
          <div class="select dropdown-block-item" >
            <a href="">Dropdown</a>
          </div>
          <ul class="options-list">
            <li class="option"><a href="">Option1</a></li>
            <li class="option"><a href="">Option2</a></li>
            <li class="option"><a href="">Option3</a></li>
            <li class="option"><a href="">Option4</a></li>
          </ul>
        </div>
      </div>               
      </ul>
      <ul class="get-on">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
      <ul class="round-footer-icons">
        <li><a href="#">ICON</a></li>
        <li><a href="#">ICON</a></li>
        <li><a href="#">ICON</a></li>
        <li><a href="#">ICON</a></li>
      </ul>
    </div>
  </div>
  <div class="under-line-block">
    <div class="container">
      <ul class="copyright">
        <p>&#169 company 2016</p>
        <li><a href="#">footer link1</a></li>
        <li><a href="#">footer link2</a></li>
        <li><a href="#">footer link3</a></li>
      </ul>
      <ul class="footer-links-right-corner">
        <li><a href="#">footer link4</a></li>
        <li><a href="#">footer link5</a></li>
      </ul>
    </div>
  </div>
</footer>