<header>
  <div class="container">
    <div class="logo">
      <a href="#">LOGO</a>
    </div>
    <ul class="nav">
      <li class="nav-list"><a href="#/">Home</a></li>
      <li class="nav-list"><a href="#/gallery">Gallery</a></li>
      <li class="nav-list"><a href="#/">Lorem</a></li>
      <li class="nav-list"><a href="#/contuctus">Contact Us</a></li>
    </ul>
    <div class="log-in-section">
      <button>Button</button>
      <div class="log-in">
        <p>Log-in/Sing-up</p>
      </div>
    </div>
  </div>
</header>