<div class="home">
  <div class="search-section">
    <div class="container">
      <div class="search-wrapper">
        <h3>Lorem</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="search-input">
          <input type="text"><br>
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="main-logo">
    <div class="container">
      <p>Lorem ipsum dolor sit amet,<br> consectetur adipisicing.</p>
      <h1>LOGO</h1>
    </div>
  </div>
  <div class="video-section">
    <div class="container">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <div class="video-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem rem, culpa veniam dicta minus, tenetur quas recusandae aliquid explicabo, sint commodi in maiores. Quod, labore quisquam quo eveniet a ipsum adipisci quasi fuga sit consectetur atque. Velit similique iste mollitia?</p>
        <div class="buttons">
          <button class="button">Button-1</button>
          <button class="button">Button</button>
        </div>
      </div>
      <iframe width="640" height="360" src="https://www.youtube.com/embed/fPun4VCdXJU" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="three-column-section">
    <div class="container">
      <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
      <ul>
        <li>
          <i class="fa fa-envelope-o"></i>
          <h4>TITLE NAME</h4>
          <p>Lorem. Ipsum. Dolor. Sit. Amet. Consectetur. Adipisicing. Elit.</p>
          <div class="load-more">
            <a href="">Lorem Ipsum &#62</a>
          </div>
        </li>
        <li>
          <i class="fa fa-envelope-o"></i>
          <h4>TITLE NAME</h4>
          <p>Lorem. Ipsum. Dolor. Sit. Amet. Consectetur. Adipisicing. Elit.</p>
          <div class="load-more">
            <a href="">Lorem Ipsum &#62</a>
          </div>
        </li>
        <li>
          <i class="fa fa-envelope-o"></i>
          <h4>TITLE NAME</h4>
          <p>Lorem. Ipsum. Dolor. Sit. Amet. Consectetur. Adipisicing. Elit.</p>
          <div class="load-more">
            <a href="">Lorem Ipsum &#62</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="big-image-section">
    <div class="container">
      <div class="image-description">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem rem, culpa veniam dicta minus, tenetur quas recusandae aliquid explicabo, sint commodi in maiores. Quod, labore quisquam quo eveniet a ipsum adipisci quasi fuga sit consectetur atque. Velit similique iste mollitia?</p>
        <div class="buttons">
          <button class="button">Button-1</button>
          <button class="button">Button</button>
        </div>
        <div class="image-title">
          <p class="name">Image Name</p>
          <p class="subname">Image Subname</p>
        </div>  
      </div>
      <div class="image-wrapper">
        <img src="images/ibanez-m80m.jpg" alt="ibanez-m80m">
      </div>
    </div>
  </div>
  <div class="last-section">
    <div class="container">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio debitis.</h3>
      <div class="buttons">
        <button class="button">Button-1</button> 
      </div>
    </div>
  </div>
</div>