@mixin flexbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

@mixin input-styles() {
  border: 1px solid #c5c5c5;
  padding: 0 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 200;
}