/* line 1, ../scss/components/reset.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../scss/components/reset.scss */
a {
  text-decoration: none;
}

/* line 14, ../scss/components/reset.scss */
li {
  list-style-type: none;
}

/* line 18, ../scss/components/reset.scss */
input,
textarea,
button {
  outline: none;
}
/* line 22, ../scss/components/reset.scss */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
button:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 25, ../scss/components/reset.scss */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder,
button:focus:-moz-placeholder {
  color: transparent;
}
/* line 28, ../scss/components/reset.scss */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder,
button:focus::-moz-placeholder {
  color: transparent;
}
/* line 31, ../scss/components/reset.scss */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
button:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 5, ../scss/main/main.scss */
.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}

/* line 11, ../scss/main/main.scss */
.wrapper {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1;
}

/* line 17, ../scss/main/main.scss */
header {
  background-color: #101010;
  padding: 20px 0;
}
/* line 21, ../scss/main/main.scss */
header .container {
  justify-content: space-between;
  align-items: center;
}
/* line 25, ../scss/main/main.scss */
header .container .logo {
  width: 120px;
  height: 50px;
}
/* line 29, ../scss/main/main.scss */
header .container .logo a {
  display: block;
  height: 100%;
  border: 1px solid #6a6a6a;
  text-align: center;
  color: #fff;
  font-size: 40px;
}
/* line 37, ../scss/main/main.scss */
header .container .logo a:hover {
  color: #5ebefb;
  border-color: #5ebefb;
  transition: 0.2s;
}
/* line 45, ../scss/main/main.scss */
header .container .nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
/* line 49, ../scss/main/main.scss */
header .container .nav li {
  display: block;
  margin-right: 20px;
}
/* line 53, ../scss/main/main.scss */
header .container .nav li a {
  color: #fff;
  font-size: 18px;
  line-height: 50px;
}
/* line 58, ../scss/main/main.scss */
header .container .nav li a:hover {
  color: #5ebefb;
  transition: 0.2s;
}
/* line 66, ../scss/main/main.scss */
header .container .log-in-section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* line 69, ../scss/main/main.scss */
header .container .log-in-section button {
  width: 80px;
  height: 44px;
  border: 1px solid #fff;
  background-color: #101010;
  color: #fff;
  cursor: pointer;
  outline: none;
}
/* line 78, ../scss/main/main.scss */
header .container .log-in-section button:hover {
  color: #5ebefb;
  border-color: #5ebefb;
  transition: 0.2s;
}
/* line 85, ../scss/main/main.scss */
header .container .log-in-section p {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #fff;
}
/* line 91, ../scss/main/main.scss */
header .container .log-in-section p:before {
  content: '\f2be';
  display: block;
  margin-top: 5px;
  margin-right: 10px;
  font-family: FontAwesome;
  color: #fff;
  font-size: 35px;
}

/* line 105, ../scss/main/main.scss */
footer {
  background-color: #1c1c1c;
  padding: 50px 0 30px 0;
}
/* line 109, ../scss/main/main.scss */
footer .above-line-block {
  padding-bottom: 50px;
}
/* line 112, ../scss/main/main.scss */
footer .above-line-block .container {
  justify-content: space-between;
}
/* line 116, ../scss/main/main.scss */
footer .above-line-block .container .dropdown-block .dropdown-block-item {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
}
/* line 123, ../scss/main/main.scss */
footer .above-line-block .container .dropdown-block .select a {
  display: block;
  height: 100%;
  padding-left: 11px;
  background-color: #2b2b2b;
  line-height: 40px;
  color: #bfbfbf;
}
/* line 131, ../scss/main/main.scss */
footer .above-line-block .container .dropdown-block .select a:hover {
  background-color: #5e5e5e;
  transition: 0.2s;
}
/* line 138, ../scss/main/main.scss */
footer .above-line-block .container .dropdown-block input {
  background-color: #2b2b2b;
  padding-left: 11px;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  color: #fff;
}
/* line 148, ../scss/main/main.scss */
footer .above-line-block .container .get-on {
  align-self: center;
}
/* line 151, ../scss/main/main.scss */
footer .above-line-block .container .get-on li {
  display: inline-block;
  width: 120px;
  height: 40px;
  margin-right: 15px;
}
/* line 157, ../scss/main/main.scss */
footer .above-line-block .container .get-on li a {
  display: block;
  height: 100%;
  background: url("../images/google-play.png") no-repeat;
  background-size: 100%;
}
/* line 166, ../scss/main/main.scss */
footer .above-line-block .container .round-footer-icons {
  align-self: flex-end;
}
/* line 169, ../scss/main/main.scss */
footer .above-line-block .container .round-footer-icons li {
  display: inline-block;
  width: 32px;
  height: 32px;
}
/* line 174, ../scss/main/main.scss */
footer .above-line-block .container .round-footer-icons li a {
  display: block;
  height: 100%;
  border-radius: 50%;
  background-color: #575757;
  color: #000;
  font-size: 10px;
  text-align: center;
  line-height: 32px;
}
/* line 184, ../scss/main/main.scss */
footer .above-line-block .container .round-footer-icons li a:hover {
  background-color: #8a8a8a;
}
/* line 193, ../scss/main/main.scss */
footer .under-line-block {
  border-top: 1px solid #292929;
  padding-top: 25px;
}
/* line 197, ../scss/main/main.scss */
footer .under-line-block .container {
  justify-content: space-between;
}
/* line 200, ../scss/main/main.scss */
footer .under-line-block .container .copyright {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* line 203, ../scss/main/main.scss */
footer .under-line-block .container .copyright p {
  color: #bfbfbf;
}
/* line 207, ../scss/main/main.scss */
footer .under-line-block .container .copyright li {
  margin-left: 30px;
}
/* line 209, ../scss/main/main.scss */
footer .under-line-block .container .copyright li a {
  color: #bfbfbf;
}
/* line 212, ../scss/main/main.scss */
footer .under-line-block .container .copyright li a:hover {
  color: #5ebefb;
  transition: 0.2s;
}
/* line 220, ../scss/main/main.scss */
footer .under-line-block .container .footer-links-right-corner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* line 223, ../scss/main/main.scss */
footer .under-line-block .container .footer-links-right-corner li {
  margin-left: 30px;
}
/* line 225, ../scss/main/main.scss */
footer .under-line-block .container .footer-links-right-corner li a {
  color: #bfbfbf;
}
/* line 228, ../scss/main/main.scss */
footer .under-line-block .container .footer-links-right-corner li a:hover {
  color: #5ebefb;
  transition: 0.2s;
}

/* line 239, ../scss/main/main.scss */
.home {
  border-top: 1px solid #353535;
}
/* line 242, ../scss/main/main.scss */
.home .search {
  background-color: #101010;
  padding-top: 160px;
  padding-bottom: 270px;
  color: #fff;
}
/* line 248, ../scss/main/main.scss */
.home .search .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 253, ../scss/main/main.scss */
.home .search .container h3 {
  font-size: 70px;
  font-weight: lighter;
  position: relative;
}
/* line 258, ../scss/main/main.scss */
.home .search .container h3:after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #a8a8a8;
  bottom: 0;
}
/* line 270, ../scss/main/main.scss */
.home .search .container p {
  font-size: 24px;
  margin-top: 10px;
}
/* line 275, ../scss/main/main.scss */
.home .search .container input {
  height: 60px;
  width: 710px;
  margin-top: 80px;
  margin-bottom: 40px;
  border: 2px solid #a7a7a7;
  background-color: #101010;
}
/* line 284, ../scss/main/main.scss */
.home .search .container button {
  height: 64px;
  width: 64px;
  position: relative;
  left: calc(50% - 32px);
  border-radius: 50%;
  background-color: #a2a2a2;
  color: #fff;
  font-size: 25px;
}

/* line 298, ../scss/main/main.scss */
.main-logo {
  background-color: #fff;
  padding-top: 215px;
  padding-bottom: 235px;
}
/* line 303, ../scss/main/main.scss */
.main-logo .container {
  flex-direction: column;
  text-align: center;
}
/* line 307, ../scss/main/main.scss */
.main-logo .container p {
  font-size: 44px;
  margin-bottom: 120px;
}
/* line 312, ../scss/main/main.scss */
.main-logo .container h1 {
  font-size: 100px;
  font-weight: 200;
  text-shadow: 3px 3px 3px #b6b6b6;
}
